.about_wrap
  width: 100%
  background: desaturate(lighten($prime-color, 4), 78)
  margin-top: -33px
  display: flex
  flex-direction: row

.about_left
  width: 60%
  margin-top: 50px

  img
    float: left
    margin: 30px 30px

  p
    font-size: 20px
    color: white
    line-height: 1.5
    margin: 20px

.about_right
  width: 40%

  p
    font-size: 14px
    margin: 30px
    color: white
    line-height: 1.5

.footer
  background: desaturate(darken($prime-color, 8), 67)
  height: 30px
  width: 100%
