.fly-heading
	width: 100%
	display: block
	text-align: center
	margin: -25px auto 0
	z-index: 400
	position: relative

	.fly-text
		text-align: center
		width: 200px
		padding: 7px 0 5px
		border: $bg-color solid $site-margin
		background: $prime-color
		color: #fff
		display: inline-block
		margin: 0 auto
		text-transform: uppercase
		font-size: 24px
		letter-spacing: 0.1em
		height: 30px
