.globe_wrap
	width: 100%
	margin: $site-margin-small 0 0
	padding: 0
	position: relative

	+min-screen($nav-break)
		margin: $site-margin 0 0

	.globe
		width: auto
		height: 0
		padding: 0 0 36%
		margin: 0 $site-margin-small
		position: relative

		+min-screen($nav-break)
			margin: 0 $site-margin

		svg
			position: absolute
			top: 0
			left: 0
			width: 100%

	.globe_text
		top: 15%
		right: 20%
		position: absolute

		h2
			margin: 0
			padding: 0
			font-size: 16px
			color: $prime-color

			+min-screen($nav-break)
				font-size: 24px

			+min-screen($hero-break)
				font-size: 30px
