.globe_rap
	width: 100%
	border-left: $site-margin solid $bg-color
	border-right: $site-margin solid $bg-color
	border-top: $site-margin solid $bg-color
	background: url(../img/world_map_raw_test_4.svg)
	background-size: cover
	margin: 0
	padding: 0
	max-height: 453px
	padding-bottom: 27.27%
	position: relative
	z-index: -10

	.globe_text
		padding: 50px 0 0 70px

		h2
			margin: 0
			padding: 0
			font-size: 30px
			color: $prime-color
