// HERO STYLES

.hero
	width: 75%
	height: 420px
	max-width: 1000px
	margin: 0 auto
	margin-top: -50px
	background: url(./img/hero_plane.jpg) no-repeat center center
	background-size: cover
	position: relative
	z-index: 400

.hero_text_upper
	margin: 0
	padding: 100px 20px 0 0

	.hero-text-upper-accent
		color: #a1d7e1

	h1
		font-size: 70px
		text-align: right
		color: #ededed
		margin: 0
		padding: 0
		text-transform: uppercase
		line-height: 1

.hero_text_lower
	margin: 0
	padding: 15px 0 0 0

	ul
		list-style: none

	h2
		color: #ededed
		font-size: 24px
		line-height: 1
		font-weight: 400
