.st2
	fill: $prime-color

.nav-fixed
	width: 100%
	position: fixed !important
	top: -130px
	background: white
	top: -100px !important

	+min-screen($mid-hero-break)
		top: -100px !important

	+min-screen($nav-break)
		top: -149px !important

.nav
	width: 100%
	display: flex
	flex-direction: row
	justify-content: space-between
	position: absolute
	z-index: 1000
	top: 0


	+min-screen($mid-hero-break)
		justify-content: center

	.mobile_menu_wrap
		order: 2

		+min-screen($mid-hero-break)
			order: 1
			width: 50%

		+min-screen($fixed-nav-break)
			display: none

	.button_container
		display: block
		text-decoration: none
		color: #888
		font-size: 24px
		font-weight: 700
		margin: 70px 10px 0
		text-transform: uppercase
		float: right

		+min-screen($nav-break)
			margin: 110px 10px 0

	.button-fixed
		margin: 120px 30px 0 0
		
		+min-screen($mid-hero-break)
			margin: 120px 10px 0 0

		+min-screen($nav-break)
			margin: 165px 10px 0

		+min-screen($fixed-nav-break)
			display: none

	.nav_over
		width: 100%
		padding-top: 150px

		li
			text-align: center
			margin: 0
			font-size: 30px
			letter-spacing: 0.05em
			color: #fff

	.navigation-fixed
		background: white
		margin-top: 50px !important
		padding-right: 6px !important
		width: 50% !important

		li
			display: inline-block
			float: right
			margin: 59px 0 0 20px

	.navigation
		width: 50%
		margin: 0
		padding: 0
		padding-top: 60px
		list-style: none
		display: none

		+min-screen($mid-hero-break)
			padding-top: 25px

		+min-screen($fixed-nav-break)
			padding-top: 60px
			display: block

		.mobile_close
			display: block

			+min-screen($mid-hero-break)
				display: none

		li
			text-align: right

			a
				text-decoration: none
				color: $nav-color

				&:hover
					text-decoration: underline

	.logo-fixed
		width: 240px !important
		margin: 10px 0 0 0 !important

	.logo
		width: 150px
		height: 150px
		margin: 0
		padding: 0
		position: relative
		order: 1
		flex-basis: 150px
		flex-shrink: 0

		+min-screen($nav-break)
			width: 200px
			height: 200px
			order: 2
			flex-basis: 200px
			flex-shrink: 0

		a
			position:relative
			width: 100%
			height: 0
			padding: 0
			padding-bottom: 100%

			svg
				top: 0
				left: 0
				height: 150px
				width: 150px
				position: absolute
				fill: $prime-color
				border: $site-margin-small solid $bg-color

				+min-screen($nav-break)
					height: 200px
					width: 200px
					border: $site-margin solid $bg-color

	.contact-fixed
		background: white
		margin-top: 50px !important
		padding-top: 70px !important
		width: 50% !important

		+min-screen($nav-break)
			padding-top: 117px !important

		+min-screen($fixed-nav-break)
			padding-top: 0 !important

			li
				display: inline-block
				margin: 123px 0 0 13px

	.contact
		width: 50%
		margin: 0
		padding: 0
		padding-top: 72px
		display: none
		order: 3

		+min-screen($mid-hero-break)
			display: block

		+min-screen($nav-break)
			padding-top: 107px

		li
			list-style: none
			text-align: left
			color: $nav-color
			font-size: 13px
