#wuf-adv
  display: none !important

.quote-heading
  font-size: 18px !important
  line-height: 1.8

.quote-heading-margin
  margin-top: -54px !important

.quote_wrap
  width: 100%
  margin: 0
  padding: 0

  h2
    width: 80%
    text-align: left
    float: right
    border-bottom: 1px solid black

  .quote_form
    height: auto
    display: block
    width: 90%
    margin: 2% auto 5%
    max-width: 1000px
