.services
	width: 100%
	padding: 0
	margin: -37px 0 0 0
	border-top: $site-margin solid $bg-color


.services_wrap
	display: flex
	flex-direction: column

	+min-screen($nav-break)
		flex-direction: row

	.services__flight-ferry
		width: 100%
		background: desaturate(darken($prime-color, 8), 67)
		border-left: $site-margin-small solid $bg-color
		border-right: $site-margin-small solid $bg-color
		border-bottom: $site-margin-small solid $bg-color

		+min-screen($nav-break)
			width: 50%
			border-left: $site-margin solid $bg-color
			border-right: ($site-margin / 2) solid $bg-color
			border-bottom: none

		.ferry_wrap
			width: 90%
			float: none
			margin: 40px auto 30px

			+min-screen($nav-break)
				width: 70%
				max-width: 500px
				float: right
				margin: 10px 40px 10px 0

		h2
			font-weight: 700
			font-size: 35px
			color: $bg-color
			text-align: center
			letter-spacing: 0.1em
			line-height: 1.7

		p
			color: $bg-color
			font-size: 18px
			font-weight: 400
			letter-spacing: 0.1em
			line-height: 1.6
			text-indent: 25px

	.services__container-shipping
		width: 100%
		background: desaturate(lighten($prime-color, 4), 78)
		border-right: $site-margin-small solid $bg-color
		border-left: $site-margin-small solid $bg-color

		+min-screen($nav-break)
			width: 50%
			border-right: $site-margin solid $bg-color
			border-left: ($site-margin / 2) solid $bg-color

		.container_wrap
			width: 90%
			float: none
			margin: 40px auto 30px

			+min-screen($nav-break)
				width: 70%
				max-width: 500px
				float: left
				margin: 20px 0 10px 40px

		h2
			font-weight: 700
			font-size: 35px
			color: $bg-color
			text-align: center
			letter-spacing: 0.1em
			opacity: 0.9

		p
			color: $bg-color
			font-size: 18px
			font-weight: 400
			letter-spacing: 0.1em
			line-height: 1.6
			text-indent: 25px

.services_quote_rap
	width: 100%
	margin: 0
	padding: 0
	display: flex
	flex-direction: row
	justify-content: center

	.services_quote_left
		background: desaturate(lighten($prime-color, 4), 78)
		width: 50%
		display: block
		float: left
		border-left: $site-margin-small solid $bg-color

		+min-screen($nav-break)
			border-left: $site-margin solid $bg-color
			background: desaturate(darken($prime-color, 8), 67)

	a
		width: 400px
		background: $quote-normal
		text-align: center
		color: $bg-color
		border-left: $site-margin-small solid $bg-color
		border-top: $site-margin-small solid $bg-color
		border-right: $site-margin-small solid $bg-color
		float: left
		text-transform: uppercase
		font-size: 16px
		line-height: 2.4
		letter-spacing: 0.05em
		font-weight: 700
		text-decoration: none
		transition: background-color 1s  ease

		+min-screen($nav-break)
			border-left: $site-margin solid $bg-color
			border-top: $site-margin solid $bg-color
			border-right: $site-margin solid $bg-color
			font-size: 24px
			line-height: 2.2
			letter-spacing: 0

		&:hover
			background: $quote-hover

	.services_quote_right
		background: desaturate(lighten($prime-color, 4), 78)
		width: 50%
		border-right: $site-margin-small solid $bg-color

		+min-screen($nav-break)
			background: desaturate(lighten($prime-color, 4), 78)
			width: 50%
			display: block
			border-right: $site-margin solid $bg-color
			float: left
