.testimonial_rap
	width: 100%
	border-left: $site-margin solid $bg-color
	border-right: $site-margin solid $bg-color
	border-top: $site-margin solid $bg-color
	display: block
	background: lighten(desaturate(#00A2C1, 91), 42)
	margin: -35px 0 0 0

	.testimonial_header h1
		text-align: center
		width: 200px
		padding: 15px 0
		border: $bg-color solid $site-margin
		background: $prime-color
		color: #fff
		margin: -42px auto 0
		text-transform: uppercase
		font-size: em(24)
		letter-spacing: 0.02em

	.testimonials_1_rap
		width: 100%
		max-width: 950px
		margin: 0 auto

		.testa_left_rap
			width: 300px
			float: left

			img
				width: 280px
				margin: 0 20px 0 0

			.plane_text_rap
				background: #fff
				border-radius: 50%
				margin: -40px 0 0 120px
				width: 180px
				height: 180px

				p
					text-align: center
					margin: 0
					padding: 0

		.testa_right_rap
			float: left
			margin: 20px
			width: 610px

			p
				color: #333
				font-size: 16px
				line-height: 1.4
				margin: 0
