.testimonial_wrap
	border-right: $site-margin-small solid $bg-color
	border-left: $site-margin-small solid $bg-color
	margin: -36px 0 0 0
	padding: 0

	+min-screen($nav-break)
		border-right: $site-margin solid white
		border-left: none
		margin: -31px 0 0 0
		padding: 0

.single_testimonial
	width: 100%
	padding: 0
	display: flex
	flex-direction: column
	justify-content: flex-end

	+min-screen($nav-break)
		flex-direction: row

.test_left
	width: 100%
	display: flex
	flex-direction: row
	justify-content: center
	border-top: $site-margin-small solid $bg-color
	background: lighten($test_cards, 15)
	padding-top: 30px

	+min-screen($nav-break)
		width: 40%
		display: flex
		flex-direction: row
		justify-content: flex-end
		background: none
		padding-top: none

.testimonial_img
	width: 100%
	margin-top: 0
	display: flex
	flex-direction: column

	+min-screen($mid-hero-break)
		width: 100%
		margin-top: 0
		display: flex
		flex-direction: row

	+min-screen($nav-break)
		width: 312px
		margin-top: 50px
		display: flex
		flex-direction: column

.test_image_wrap
	width: 100%
	padding: 0
	background: lighten($test_cards, 15)

	+min-screen($mid-hero-break)
		width: 40%
		margin: 0
		background: lighten($test_cards, 15)

	+min-screen($nav-break)
		width: 300px
		background: lighten($test_cards, 15)

	img
		width: 90%
		margin: 5%

.test_image_text_wrap
	width: 100%
	height: auto
	display: block
	position: relative
	background: lighten($test_cards, 15)

	+min-screen($mid-hero-break)
		width: 50%
		height: auto
		position: relative
		background: lighten($test_cards, 15)
		text-align: left
		padding: 18px 0 0 10px

	+min-screen($nav-break)
		width: 300px
		height: 90px
		position: relative
		background: none
		padding: 0

	svg
		fill: lighten($test_cards, 15)
		position: absolute
		width: 100%
		height: 100%
		display: none

		+min-screen($nav-break)
			display: block

	h3
		margin: 0
		padding: 0
		font-size: 18px
		text-align: right

		+min-screen($mid-hero-break)
			text-align: left

	p
		margin: 0
		padding: 0
		text-align: right
		line-height: 1.4
		font-size: 12px

		+min-screen($mid-hero-break)
			text-align: left

		+min-screen($nav-break)
			text-align: right

	.test_grey
		opacity: 0.5
		font-size: 16px


.test_text_position
	position: relative
	padding: 0 20px 20px

	+min-screen($mid-hero-break)
		position: relative
		z-index: 900
		right: 10px
		margin: 0
		padding: 0

	+min-screen($nav-break)
		position: absolute
		z-index: 900
		right: 10px
		margin: -10px 5px 0 0

.test_fill
	display: none

	+min-screen($nav-break)
		width: 83px
		background: desaturate(lighten($prime-color, 45), 78)
		display: block

.testimonial_text
	width: 100%
	margin: 0
	background: desaturate(lighten($prime-color, 45), 78)
	border-top: $site-margin-small solid $bg-color

	+min-screen($nav-break)
		width: 50%
		border-top: none

	p
		margin: 5%
		font-size: 18px
		line-height: 1.5

		+min-screen($nav-break)
			margin: 10% 5% 5% -60px
			font-size: 18px
			max-width: 600px
			float: left
			line-height: 1.5

.testimonial_more
	width: 100%
	padding: 0
	display: flex
	flex-direction: row
	justify-content: flex-end
	height: 50px
	background: desaturate(lighten($prime-color, 45), 78)

	+min-screen($nav-break)
		background: none
		height: 150px

.test_more_left
	width: auto
	display: none

	+min-screen($nav-break)
		width: 40%
		display: block

.test_more_fill
	display: none

	+min-screen($nav-break)
		width: 83px
		background: desaturate(lighten($prime-color, 45), 78)
		height: 150px
		display: block

.test_more_link
	display: flex
	flex-direction: row
	justify-content: center
	width: 100%


	+min-screen($nav-break)
		width: 50%
		margin: 0
		background: desaturate(lighten($prime-color, 45), 78)
		height: 150px

.testimonial-hide
	visibility: hidden
