.testimonial_wrap
	border-right: $site-margin solid white
	margin: -33px 0 0 0
	padding: 0

.testimonial_template
	width: 100%
	padding: 0
	display: flex
	flex-direction: row
	justify-content: flex-end

.testimonial_img
	width: 312px
	margin-top: 50px
	display: flex
	flex-direction: column

.test_image_wrap
	width: 300px
	margin: $site-margin $site-margin 0 0
	background: lighten($test_cards, 15)

	img
		width: 90%
		margin: 5%

.test_image_text_wrap
	width: 300px
	height: 90px
	position: relative

	svg
		fill: lighten($test_cards, 15)
		position: absolute
		width: 100%
		height: 100%

	h3
		margin: 0
		padding: 0
		font-size: 18px

	p
		margin: 0
		padding: 0
		text-align: right
		line-height: 1.4
		font-size: 12px

	.test_grey
		opacity: 0.5
		font-size: 16px


.test_text_position
	position: absolute
	z-index: 900
	right: 10px
	margin: -10px 5px 0 0

.test_fill
	width: 100px
	background: desaturate(lighten($prime-color, 45), 78)

.test_left
	width: 50%
	display: flex
	flex-direction: row
	justify-content: flex-end

.testimonial_text
	width: 49.6%
	margin: 0
	background: desaturate(lighten($prime-color, 45), 78)

	p
		margin: 10% 5% 5% -60px
		font-size: 18px
		max-width: 600px
		float: left
		line-height: 1.5


.testimonial_more
	width: 100%
	padding: 0
	display: flex
	flex-direction: row
	justify-content: flex-end
	height: 150px

.test_more_left
	width: auto

.test_more_fill
	width: 100px
	background: desaturate(lighten($prime-color, 45), 78)
	height: 150px

.test_more_link
	width: 49.6%
	margin: 0
	background: desaturate(lighten($prime-color, 45), 78)
	height: 150px
